<div class="main">


  <!--<img src="assets/images/baclground.jpg">-->

<mat-card>
  <mat-card-content>


    <div>
      <img class="login-image" src="../assets/images/login-background.jpg">
    </div>

    <div class="header">
      <h1><b> LOGIN </b></h1>
    </div>



    <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">



      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <label>
            <input formControlName="email" matInput placeholder="Enter email address" required/>
          </label>
          <mat-error *ngIf="!loginForm.controls['email'].valid">
            Required email address
          </mat-error>
        </mat-form-field>
      </div>

      <div>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
          </label>
          <button mat-icon-button matSuffix (click)="hide = !hide"
                  [attr.aria-label]="'Hide Password'"
                  [attr.aria.pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error *ngIf="!loginForm.controls['password'].valid">
            Required password
          </mat-error>
        </mat-form-field>

        <span>
          <a class="text-link" class="aLink" routerLink="/auth/forgot-password">Forgot Password?</a>
        </span>

        <mat-checkbox class="bLink"> Remember me </mat-checkbox>


      </div>
      <br><br>

      <div>
        <button mat-flat-button color="primary" >Login</button>

      </div>
    </form>

    <div class="button-row">
      <p>Need an account? <a class="text-link" routerLink="/signup">Sign Up</a></p>
    </div>
  </mat-card-content>
</mat-card>

</div>
