<mat-toolbar color="primary" >


  <img class="logo" src="assets/images/logo.jpg">
  <span>FMS</span>




  <div class="spacer"> </div>


  <button mat-raised-button color="link" routerLink="/login"> Login </button>

  <button mat-raised-button color="link" routerLink="/signup"> Register </button>


</mat-toolbar>

<section class="home">

  <img src="assets/images/background.jpg">


  <div class="homecontent">
    <h1> Welcome to Fleet Management System </h1>
    <button mat-raised-button color="primary" routerLink="/login"> Join Now </button>
  </div>
</section>

<footer class="text-center mt-2 ">

  <p> &copy; fms 2022. All right reserved</p>

</footer>



